<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/partials/sucess.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">


    <title>Sucess</title>
</head>
<body id="sucess">
    <div id="container">

        <div class="title">
            <img src="images/icons/success-check-icon.svg" alt="">
            <h1>Cadastro Salvo!</h1>
            <p>Cadastro Salvo com Sucesso!</p>
            <p>Você será redirecionado para página de professores.</p>
        </div>

       
    


    </div>
</body>

<script>
    
    setTimeout(()=>{
        location.href="/study"
    },3000)
</script>
</html>